:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*---------- header ----------*/

.header {
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
}

.navigation-section {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-logo,
.footer-logo {
  display: inline-block;
  margin-right: 76px;
  font-family: var(--second-family);
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.nav-logo-web {
  color: var(--navy-blue);
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.nav-list-item {
}
.nav-list-item-link {
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--navy-blue);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.address-list-item {
}
.address-list-item-link {
  display: inline-block;
  padding: 24px 0;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--ocean);
}

/*---------- hero ----------*/

.hero-section {
  padding: 188px 0;
  background-color: var(--navy-blue);
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  color: var(--white);
}
.hero-btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/*---------- advantages ----------*/

.advan-section {
  padding: 120px 0;
}
.advan-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advan-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.advan-list-item {
  width: calc((1128px - 24px * 3) / 4);
}
.advan-list-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.advan-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------- Our team ----------*/

.team-section {
  padding: 120px 0;
  background-color: var(--cloud);
}
.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.team-list-item {
  text-align: center;
  width: calc((1128px - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
}
.team-list-item-img {
}

.team-list-item-wrap {
  padding: 32px 0;
}

.team-list-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------- portfolio ----------*/

.portfolio-section {
  padding: 120px 0;
}
.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
  list-style: none;
}
.portfolio-list-item {
  width: calc((1128px - 24px * 2) / 3);
}

.portfolio-list-item-img {
}

.content-wrap {
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--navy-blue);
}
.portfolio-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*---------- footer ----------*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navy-blue);
}

.footer-logo {
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-logo-web {
  color: var(--cloud);
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
